{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "problems" %}

{% block page_content %}
  <div class="starter-template">
    <h1>{{ "Problem " ~ problem.id  ~ ": " ~ problem.title }}</h1>

    {% for post in posts %}
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h3 class="panel-title">{{ post.username }}
	    {% if post.user_id == current_user.id or current_user.moderator or current_user.admin %}
	      <div class="btn-group pull-right">
		<a href="/edit_post/{{ post.id }}"><span class="glyphicon glyphicon-edit"></span></a>
		<a href="/delete_post/{{ post.id }}"><span class="glyphicon glyphicon-remove"></span></a>
	      </div>
	    {% endif %}
	  </h3>
	  <div class="clearfix"></div>
	</div>
	<div class="panel-body">
	  {{ post.text }}
	</div>
	<div class="panel-footer">Posted on {{ moment(post.posted).format('LLLL') }}</div>
      </div>
    {% endfor %}

    <a href="/new_post/{{ problem.id }}">Post Reply</a>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  
  <script type="text/javascript" async
	  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
  </script>
{% endblock %}
